name: Compile LHFire

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: make
        run: make

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled executable
          path: lhfire
